/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Page Background */
body {
  background-color: #fbe4e1;
  color: #222;
}

/* Page Header */
.page-header {
  text-align: center;
  padding: 40px 20px;
}

.page-header h1 {
  color: #088178;
  font-size: 42px;
  letter-spacing: 2px;
}

/* Main Container */
.about-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  
}

/* Top Section */
.top-section {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}

/* Baker Info */
.baker-info {
  text-align: center;
}

.baker-info img {
  width: 190px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.baker-name {
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #088178;
  font-family: "Georgia", serif;
}

/* Welcome Text */
.welcome-text h2 {
  color: #088178;
  font-size: 26px;
  margin-bottom: 15px;
}

.welcome-text p {
  line-height: 1.7;
  font-size: 16px;
}

/* Bottom Section */
.bottom-section {
  display: flex;
  gap: 40px;
 
}

/* Columns */
.column {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
  
}

/* Small Headings */
.column h3 {
  color: #088178;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
   background-color: #fff;
}

/* Text */
.column p {
  line-height: 1.6;
  font-size: 15px;
   background-color: #fff;
}

/* First heading spacing fix */
.column h3:first-child {
  margin-top: 0;
}

/* Responsive */
@media (max-width: 900px) {
  .top-section,
  .bottom-section {
    flex-direction: column;
    text-align: center;
  }

  .baker-info img {
    width: 220px;
  }
}
